
  <div class="wrap"> 
    <h1>new Memo</h1>
    <p>궁금한 거 물어보거나 공지사항 쓰거나</p>

    <form method="post" action="/writememo" class="">
      <div class="memo-area">
        <label>제목</label>
        <input type="text" name="title" id="subject"></div>
      <textarea name="content" rows="10" cols="100" > </textarea>
      <div>
        <label>작  성  자 &nbsp; </label>
        <input type="text" name="name" id="writer"></div>
        <div>
          <label>비밀번호</label>
          <input type="password" name="pw"></div>
      <div class="btn">
      <input type="submit" value="확인" id="submit"></div>
    </form></div>
