
  <h1>sub1</h1>
<table>
  <tr>
    <td>제목</td>
    <td><%= data.title %></td>
  </tr>
  <tr>
    <td>내용</td>
    <td><%= data.content %></td>
  </tr>
  <tr>
    <td>작성자</td>
    <td><%= data.name %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>