<header>
  <div class="sec_wrap">
      <nav>
        
          <div class="h_gnb">
              <h1 class="h_logo"><a href="/">Propaganda</a></h1>
          </h1>
              <ul class="mainMenu">
                  <li ><a href="/booklist">Books</a></li>
                  <li><a href="">GRAPHIC</a></li>
                  <li><a href="">Index</a></li>
                  <li><a href="">Event</a></li>
                  <li><a href="">Info</a></li>
              </ul></div>
              <div> <ul class="rightMenu">
                  <li><a href="">Search</a></li>
                  <li><a href="/login">Login</a></li>
                  <li id="cart">Cart[<span id="cartNum">0</span>]</a></li>
              </ul></div>
      </nav>
         <!-- <div class="cart_pop">
      <div class="cart_bg"></div>
      <div class="cart_wrap">
        <div class="cart_content">
          <div class="cart_menu">
            <ul>
              <li class="cart2" id="cart">Cart[<span id="cartNum2">1</span>]</li>
              <li class="close2">Close</li>
            </ul>
          </div>
          <div class="cart_cont">
            <ul>
              <li>
                <div class="cart_cont_wrap">
                  <div class="cart_cont_title">
                    <h5><span>GRAPHIC</span>
                      언리미티드 에디션·서울 아트 북 페어</h5>
                    </div>
                      <div class="cart_num">
                       <div>
                          <span class="minus" id="minus2"></span>
                        <span id="amount2">1</span>
                        <span class="plus" id="plus2"></span>
                    </div>
                    <h4 id="total2">₩13,000</h4>
                      </div>
                      <div class="total2"><span>TOTAL</span> <h4 class="total">₩ 13,000</h4></div>
                      
                </div>
              
                    
                
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</header>

