<header>
  <div class="sec_wrap">
      <nav>
        
          <div class="h_gnb">
              <h1 class="h_logo"><a href="">Propaganda</a></h1>
          </h1>
              <ul class="mainMenu">
                  <li ><a href="">Books</a></li>
                  <li><a href="">GRAPHIC</a></li>
                  <li><a href="">Index</a></li>
                  <li><a href="">Event</a></li>
                  <li><a href="">Info</a></li>
              </ul></div>
              <div> <ul class="rightMenu">
                  <li>Search</a></li>
                  <li>Login</a></li>
                  <li id="cart">Cart[<span id="cartNum">0</span>]</a></li>
              </ul></div>
      </nav>
  </div>
</header>

